# Python basura
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Datos y logs
*.log
.pytest_cache/
.coverage
htmlcov/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Mac/OS basura
.DS_Store